/************************ NAVBAR ******************/
.logo {
  width: 200px;
  height: auto;
  padding: 8px;
  background-color: teal;
  border-radius: 28px;
  
}

/************** MENU LINKS *************/
nav a.nav-link {
  font-size: 24px;
  font-weight: 450;
  letter-spacing: 3px;
  font-style: oblique ;
  cursor: pointer;
}



.navbar-nav > li > a  {
  margin-right: 28px;
  margin-left: 28px;
  color: aqua !important;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0) ;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 130px !important;
}

.navbar-nav > li > a > a.active, .navbar-nav > li > a.active:focus {
  border-top: 3px solid teal;
}

.navbar-nav > li > a:hover {
  border-top: 3px solid teal;
}

.navbar-toggler {
  color: teal;
  border-style: groove;
}